<div id="movie-details" class="contain mt-5">
  <div class="row p-5">
    <div class="col-lg-2" *ngIf="getMovieDetailResult?.poster_path">
      <img
        src="{{ labels.IMAGE_URL }}/{{ getMovieDetailResult?.poster_path }}"
      />
    </div>
    <div class="col-lg-10 mt-5 p-4">
      <h1 class="mt-2 mb-2">{{ getMovieDetailResult?.original_title }}</h1>
      <p class="mt-3 mb-3">{{ getMovieDetailResult?.overview }}</p>
      <a
        class="btn btn-md"
        href="{{ labels.VIDEO_URL }}{{ getMovieVideoResult }}"
        target="_blank"
        >{{ labels.WATCH_TRAILER }}</a
      >

      <div class="mt-4 p-4">
        <h2 class="text-white">{{ labels.TOP_CAST }}</h2>
        <div class="row">
          <div class="col-lg-4" *ngFor="let c of getMovieCastResult">
            <div class="row mt-2 mb-2">
              <div class="col-lg-2" *ngIf="c?.profile_path">
                <img src="{{ labels.IMAGE_URL }}/{{ c.profile_path }}" />
              </div>
              <div class="col-lg-10">
                <h3 class="text-white">{{ c?.original_name }}</h3>
                <p class="text-white">{{ c?.character }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
