<!-- navbar start  -->
<nav class="navbar navbar-expand fixed-top" [ngStyle]="navbarBg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">{{ labels.NETFLIX_TITLE }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">{{
            labels.HOME
          }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search">{{ labels.SEARCH }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end  -->
<router-outlet></router-outlet>
